dust-physics-simulation-element {
  --diameter: 100px;
  --center-x: 0px;
  --center-y: 0px;
  --scale: 1.0;
  position: absolute;
  display: inline-block;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 100%;
  transform: scale(var(--scale)) translate(var(--center-x), var(--center-y));
}

dust-physics-simulation-element.centeredWithinParent {
  --radius: calc(var(--diameter) / 2);
  left: calc(50% - var(--radius));
  top: calc(50% - var(--radius));
}