dust-physics-simulation-element {
  --diameter: 100px;
  --center-x: 0px;
  --center-y: 0px;
  --scale: 1.0;
  position: absolute;
  display: inline-block;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 100%;
  outline: 4px solid rgba(0, 0, 0, 0.5);

  transform: scale(var(--scale)) translate(var(--center-x), var(--center-y));

  touch-action: none;
  box-sizing: border-box;
}

dust-physics-simulation-element.centeredWithinParent {
  --radius: calc(var(--diameter) / 2);
  left: calc(50% - var(--radius));
  top: calc(50% - var(--radius));
}

/* TODO try to use display flex again instead of having to update the --offset-width manually */
dust-physics-simulation-element.bubbleWrapper>:first-child {
  position: absolute;
  --offset-width: 0px;
  --offset-height: 0px;
  left: calc(50% - (var(--offset-width) / 2));
  top: calc(50% - (var(--offset-height) / 2));
}