.Dust.module {
  position: relative;
  box-sizing: border-box;
  outline: 4px solid black;
  padding: 10px;
  min-width: 100px;
  min-height: 100px;
}

.Dust.module > button {
  position: relative;
  z-index: 1;
}
