.Dust.window {
  display: inline-block;
}

.Dust.windowToolbar {
  position: relative;
  left: 0px;
  top: 0px;
}

/* TODO move to different file */
.scrollable {
  overflow: auto;
  touch-action: auto;
  -webkit-overflow-scrolling: touch;
}

.Dust.windowContentArea {
  display: inline-block;
  position: relative;
  min-width: 200px;
  min-height: 200px;
  resize: both;

  border: 2px solid;
  padding-inline-start: 20px;
  padding-top: 20px;
}

.Dust.windowContents {
  position: relative;
  transform-origin: top left;
  display: inline-block;
  margin-inline-end: 20px;
  margin-bottom: 20px;
}

.Dust.windowContents > .Dust.windowElement {
  /* display: inline-grid; */
  display: inline-flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* touch-action: none; */
}
